.main {
  padding-bottom: 62px;
  background: linear-gradient(103.54deg, #1d43ca 0.47%, #5a7eff 98.9%);
}

.main__container {
  display: flex;
  justify-content: space-between;
}

.main__container__info {
  display: flex;
  justify-content: space-between;
}

.main__info {
  padding-top: 118px;
}

.main__title {
  font-size: 50px;
  font-weight: 700;
  display: inline-block;
  color: rgba(255, 255, 255, 1);
}

.main__title__info {
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  margin-top: 16px;
  color: rgba(255, 255, 255, 1);
}

.discount_container {
  height: 81px;
  width: 621px;
  border-radius: 50px;
  border: 1px dashed rgba(255, 255, 255, 0.43);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 19px 17px 16px;
  box-sizing: border-box;
  margin-top: 35px;
}

.number-price {
  height: 50px;
  width: 362px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  color: black;
  font-size: 15px;
  padding-left: 20px;
  outline: none;
}

.main__price {
  height: 50px;
  width: 175px;
  border-radius: 60px;
  border: none;
  background: linear-gradient(180deg, #ffe299 0%, #ffbb0c 100%);
  font-size: 14px;
  justify-content: end;
}

.info-discount {
  text-align: center;
}

.info {
  font-size: 14px;
}

.discount {
  font-size: 18px;
  font-weight: 700;
}

.usefuls {
  display: flex;
  margin-top: 104px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.useful__2 {
  margin-left: 134px;
}

.useful__3 {
  margin-left: 118px;
}

.useful-info {
  position: absolute;
  margin-top: 22px;
  margin-left: -25px;
  font-size: 15px;
}

.kuller {
  margin-top: 54px;
}

.kuller__image {
  position: absolute;
  z-index: 2;
}

.yellow-shape-img {
  position: absolute;
  z-index: 1;
}
